@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --app-font-family: 'Quicksand', sans-serif;
}

body {
  font-family: var(--app-font-family);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body.disable-scroll {
  overflow: hidden;
  height: 100vh;
}

html {
  overflow-y: scroll;
}

:root {
  --border-radius: var(--mui-shape-borderRadius);
  --border-color: var(--mui-palette-divider);
  --primary-color: var(--mui-palette-primary-main);
  --background-color-rgb: var(--mui-palette-background-paperChannel);
  --header-bg: var(--primary-color) !important;
  --header-height: 64px;
  --header-z-index: var(--mui-zIndex-appBar);
  --footer-z-index: 10;
  --customizer-z-index: var(--mui-zIndex-drawer);
  --search-z-index: var(--mui-zIndex-tooltip);
  --drawer-z-index: var(--mui-zIndex-drawer);
  --backdrop-color: rgb(var(--mui-mainColorChannels-light) / 0.5);
  --colors-backgroundBody: 240, 240, 240;
  /* Define your RGB color here */
  --tw-gradient-from-position: 0%;
  /* Define gradient start position */
  --tw-gradient-to-position: 100%;
  /* Define gradient end position */
  --colors-backgroundPrimary: 255, 255, 255;
  --boxShadow-small: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --fontSize-heading-1-0: 36px;
  --fontSize-heading-1-1-lineHeight: 44px;
  --fontSize-heading-1-1-fontWeight: 800;
  --fontSize-heading-2-0: 32px;
  --fontSize-heading-2-1-lineHeight: 40px;
  --fontSize-heading-2-1-fontWeight: 800;
  --fontSize-heading-3-0: 28px;
  --fontSize-heading-3-1-lineHeight: 32px;
  --fontSize-heading-3-1-fontWeight: 800;
  --fontSize-heading-4-0: 24px;
  --fontSize-heading-4-1-lineHeight: 32px;
  --fontSize-heading-4-1-fontWeight: 800;
  --fontSize-heading-5-extrabold-0: 18px;
  --fontSize-heading-5-extrabold-1-lineHeight: 28px;
  --fontSize-heading-5-extrabold-1-fontWeight: 800;
  --fontSize-heading-5-bold-0: 18px;
  --fontSize-heading-5-bold-1-lineHeight: 28px;
  --fontSize-heading-5-bold-1-fontWeight: 700;
  --fontSize-heading-5-regular-0: 18px;
  --fontSize-heading-5-regular-1-lineHeight: 28px;
  --fontSize-heading-5-regular-1-fontWeight: 400;
  --fontSize-16-bold-0: 16px;
  --fontSize-16-bold-1-lineHeight: 24px;
  --fontSize-16-bold-1-fontWeight: 700;
  --fontSize-16-semibold-0: 16px;
  --fontSize-16-semibold-1-lineHeight: 24px;
  --fontSize-16-semibold-1-fontWeight: 600;
  --fontSize-16-medium-0: 16px;
  --fontSize-16-medium-1-lineHeight: 24px;
  --fontSize-16-medium-1-fontWeight: 500;
  --fontSize-currency-1-0: 24px;
  --fontSize-currency-1-1-lineHeight: 32px;
  --fontSize-currency-1-1-fontWeight: 800;
  --fontSize-currency-1-1-letterSpacing: 1.2px;
  --fontSize-currency-2-0: 18px;
  --fontSize-currency-2-1-lineHeight: 28px;
  --fontSize-currency-2-1-fontWeight: 800;
  --fontSize-currency-2-1-letterSpacing: 0.9px;
  --fontSize-currency-2-1-0: 18px;
  --fontSize-currency-2-1-1-lineHeight: 24px;
  --fontSize-currency-2-1-1-fontWeight: 800;
  --fontSize-currency-2-1-1-letterSpacing: 0.8px;
  --fontSize-currency-3-0: 16px;
  --fontSize-currency-3-1-lineHeight: 24px;
  --fontSize-currency-3-1-fontWeight: 800;
  --fontSize-currency-3-1-letterSpacing: 0.8px;
  --fontSize-currency-4-0: 14px;
  --fontSize-currency-4-1-lineHeight: 20px;
  --fontSize-currency-4-1-fontWeight: 800;
  --fontSize-currency-4-1-letterSpacing: 1.2px;
  --fontSize-currency-5-0: 12px;
  --fontSize-currency-5-1-lineHeight: 16px;
  --fontSize-currency-5-1-fontWeight: 800;
  --fontSize-currency-5-1-letterSpacing: 1.2px;
  --fontSize-currency-6-0: 12px;
  --fontSize-currency-6-1-lineHeight: 12px;
  --fontSize-currency-6-1-fontWeight: 800;
  --fontSize-currency-6-1-letterSpacing: 1.2px;
  --fontSize-12-bold-0: 12px;
  --fontSize-12-bold-1-lineHeight: 16px;
  --fontSize-12-bold-1-fontWeight: 700;
  --fontSize-12-semibold-0: 12px;
  --fontSize-12-semibold-1-lineHeight: 16px;
  --fontSize-12-semibold-1-fontWeight: 600;
  --fontSize-12-medium-0: 12px;
  --fontSize-12-medium-1-lineHeight: 16px;
  --fontSize-12-medium-1-fontWeight: 500;
  --fontSize-14-bold-0: 14px;
  --fontSize-14-bold-1-lineHeight: 20px;
  --fontSize-14-bold-1-fontWeight: 700;
  --fontSize-14-semibold-0: 14px;
  --fontSize-14-semibold-1-lineHeight: 20px;
  --fontSize-14-semibold-1-fontWeight: 600;
  --fontSize-14-medium-0: 14px;
  --fontSize-14-medium-1-lineHeight: 20px;
  --fontSize-14-medium-1-fontWeight: 500;
  --fontSize-16-bold-0: 16px;
  --fontSize-16-bold-1-lineHeight: 24px;
  --fontSize-16-bold-1-fontWeight: 700;
  --fontSize-16-semibold-0: 16px;
  --fontSize-16-semibold-1-lineHeight: 24px;
  --fontSize-16-semibold-1-fontWeight: 600;
  --fontSize-16-medium-0: 16px;
  --fontSize-16-medium-1-lineHeight: 24px;
  --fontSize-16-medium-1-fontWeight: 500;
  --colors-primary-1: 7, 76, 49;
  --colors-button-tertiary-borderColor: 231, 231, 231;
  --colors-button-tertiary-contentColor: 7, 76, 49;
  --colors-button-tertiary-borderColorDisabled: 231, 231, 231;
  --colors-button-tertiary-bgColorDisabled: 231, 231, 231;
  --colors-button-tertiary-contentColorDisabled: 89, 89, 89;
  --colors-button-textLink-contentColor: 7, 76, 49;
  --colors-button-textLink-contentColorDisabled: 89, 89, 89;
  --colors-buttonTertiary: 255, 255, 255;
  --fontSize-currency-1-0: 24px;
  --fontSize-currency-1-1-lineHeight: 32px;
  --fontSize-currency-1-1-fontWeight: 800;
  --fontSize-currency-1-1-letterSpacing: 1.2px;
  --colors-sematic-red: 222, 62, 55;
  --colors-sematic-lightRed: 243, 221, 221;
  --colors-sematic-blue: 56, 115, 209;
  --colors-sematic-green: 0, 142, 33;
  --colors-sematic-orange: 242, 87, 10;
  --colors-sematic-yellow: 255, 204, 0;
  --colors-sematic-brown: 153, 88, 42;
  --colors-sematic-purple: 121, 60, 195;
  --fontSize-heading-2-1-lineHeight: 40px;
  --fontSize-heading-2-1-fontWeight: 800;
  --fontSize-heading-3-0: 28px;
  --fontSize-heading-3-1-lineHeight: 32px;
  --fontSize-heading-3-1-fontWeight: 800;
  --fontSize-heading-4-0: 24px;
  --fontSize-heading-4-1-lineHeight: 32px;
  --fontSize-heading-4-1-fontWeight: 800;
  --colors-backgroundBody: 243, 245, 247;
  --colors-backgroundSecondary: 255, 255, 255;
  --colors-button-primary-borderColor: 0, 0, 0;
  --colors-button-primary-contentColor: 255, 255, 255;
  --colors-button-primary-borderColorDisabled: 208, 208, 208;
  --colors-button-primary-bgColorDisabled: 208, 208, 208;
  --colors-button-primary-contentColorDisabled: 89, 89, 89;
  --colors-button-secondary-borderColor: 231, 231, 231;
  --colors-button-secondary-contentColor: 7, 76, 49;
  --colors-textBaseSecondary: 89, 89, 89;
  --backgroundImage-bgDecorativeTertiary: linear-gradient(290deg, #EAF6FF 9.78%, #F3FFE9 109.56%);
  --fontSize-heading-5-regular-0: 18px;
  --fontSize-heading-5-regular-1-lineHeight: 28px;
  --fontSize-heading-5-regular-1-fontWeight: 400;
  --colors-borderPrimary: 231, 231, 231;
  --colors-borderSecondary: 242, 242, 242;
  --boxShadow-extra-small: 0px 1px 2px 0px rgba(16, 24, 40, .05);
  --boxShadow-small: 0px 1px 3px 0px rgba(16, 24, 40, .1);
  --boxShadow-medium: 0px 4px 8px -2px rgba(16, 24, 40, .1), 0px 2px 4px -2px rgba(16, 24, 40, .06);
  --boxShadow-large: 0px 12px 16px -4px rgba(16, 24, 40, .1), 0px 4px 6px -2px rgba(16, 24, 40, .05);
  --boxShadow-extra-large: 0px 20px 24px -4px rgba(16, 24, 40, .1), 0px 8px 8px -4px rgba(16, 24, 40, .04);
  --boxShadow-extra-large-2: 0px 24px 48px -12px rgba(16, 24, 40, .25);
  --boxShadow-extra-large-3: 0px 32px 64px -12px rgba(16, 24, 40, .2);
  --backgroundImage-buttonPrimary: radial-gradient(300.55% 959.41% at 293.35% -237.5%, #00502F 0%, #089356 67.24%, #629F0D 98.3%);
  --backgroundImage-buttonSecondary: linear-gradient(290deg, #EAF6FF 9.78%, #F3FFE9 109.56%);
  --mui-palette-background-paper: #ffffff;
  --mui-palette-text-primary: rgb(38, 84, 64);
  --mui-palette-text-disabled: rgb(12, 45, 28);
  --mui-palette-text-secondary: hsl(149, 73%, 16%);
  --mui-palette-action-disabled: rgb(12, 45, 28);
  --mui-mainColorChannels-dark: rgb(12, 45, 28);
}

[data-mui-color-scheme="dark"] {
  --backdrop-color: rgb(16 17 33 / 0.6);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-width: 0;
  border-style: solid;
  border-color: theme("borderColor.DEFAULT", currentColor);
}

html {
  display: flex;
  inline-size: 100%;
  min-block-size: 100%;
  color-scheme: light only !important;
}

header {
  background-color: var(--header-bg) !important;
  filter: invert(0%) !important;
  -webkit-filter: invert(0%) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ul:not([class]) {
  margin-block: 1rem;
  padding-inline-start: 40px;
}

/*! Do note remove following style */
/*
  Fix the popout / submenu closing issue when using hover trigger to open the menu and using
  perfectscrollbar where the bridge create with safe polygon by floating ui was not working
*/
[data-floating-ui-safe-polygon] .scrollbar-container {
  pointer-events: auto;
}

[data-floating-ui-safe-polygon] .scrollbar-container .ps__rail-y {
  pointer-events: none;
}

.ps__rail-y {
  inset-inline-end: 0 !important;
  inset-inline-start: auto !important;

  & .ps__thumb-y {
    inset-inline-end: 3px !important;
    inset-inline-start: auto !important;
    background-color: var(--mui-palette-divider);
    inline-size: 6px;

    &:hover,
    &:focus,
    &.ps--clicking {
      background-color: var(--mui-palette-action-disabled) !important;
    }
  }

  &:hover,
  &:focus,
  &.ps--clicking {
    background-color: var(--mui-palette-action-hover) !important;
  }

  &:hover,
  &:focus,
  &.ps--clicking {
    .ps__thumb-y {
      background-color: var(--mui-palette-action-disabled) !important;
    }
  }
}

.ts-vertical-nav-root {
  .ps__thumb-y {
    inline-size: 4px;

    &:hover,
    &:focus,
    &.ps--clicking {
      inline-size: 6px;
    }
  }

  .ps__rail-y {
    inline-size: 10px;

    &:hover,
    &:focus,
    &.ps--clicking {
      background-color: transparent !important;

      .ps__thumb-y {
        inline-size: 6px;
      }
    }
  }
}

:where([class^="ri-"]) {
  font-size: 1.5rem;
}

code {
  font-family: inherit;
  padding-block: 2px;
  padding-inline: 4px;
  border-radius: 4px;
  font-size: 90%;
  color: var(--mui-palette-info-main);
  background-color: rgb(var(--mui-palette-info-mainChannel) / 0.08);
  border: 0;
}

.custom-gradient {
  --tw-gradient-from: rgb(var(--colors-backgroundBody)) var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(var(--colors-backgroundBody), 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}